In [1]:
import pandas as pd
import numpy as np

In [3]:
season = list(range(1957,2018))
salary_season = list(range(1987,2018))

In [3]:
stats = pd.read_csv('master_thesis/input/f_battingstats_since57.csv')

In [6]:
stats = stats.rename(columns = {'Name':'NAME', 'Team':'TEAM_played'})
stats = stats.replace({
    'Giants':'SFG', 'Cardinals':'STL', 'Indians':'CLE', 'Rockies':'COL', 'Blue Jays':'TOR', 'Athletics':'OAK',
    'Cubs':'CHC', 'Nationals':'WSH', 'Red Sox':'BOS', 'White Sox':'CHW', 'Tigers':'DET', 'Twins':'MIN',
    'Diamondbacks':'ARI', 'Orioles':'BAL', 'Reds':'CIN', 'Astros':'HOU',  'Royals':'KCR', 'Angels':'LAA',
    'Dodgers':'LAD', 'Marlins':'MIA', 'Yankees':'NYY', 'Mets':'NYM', 'Phillies':'PHI', 'Pirates':'PIT',
    'Padres':'SDP', 'Mariners':'SEA', 'Rays':'TBR', 'Rangers':'TEX', 'Brewers':'MIL', 'Braves':'ATL',
    '- - -':'PTms', 'Devil Rays':'TBR', 'Expos':'WSH'
    })

In [7]:
stats.loc[stats['AVG'] >= 0.3,'AVG_above'] = True
stats.loc[stats['AVG'] < 0.3,'AVG_above'] = False
print(stats.head(5))

   Season               NAME TEAM_played   G  PA  HR  R  RBI  SB  ISO  \
0    1963       Buster Narum         BAL   7   1   1  1    2   0  3.0
1    1973  Eduardo Rodriguez         MIL  30   1   0  1    0   0  2.0
2    1980  Scott Munninghoff         PHI   4   1   0  1    0   0  2.0
3    1976        Randy Lerch         PHI   1   1   0  1    0   0  1.0
4    1972       Larry Gowell         NYY   2   1   0  0    0   0  1.0

     ...      Age  H  OPS  Bat  Fld  Pos   WPA  -WPA  playerid  AVG_above
0    ...       22  1  5.0  1.4  0.0  0.1   NaN   NaN   1009455       True
1    ...       21  1  4.0  1.0  0.0  0.1   NaN   NaN   1011102       True
2    ...       21  1  4.0  1.0  0.0  0.1  0.07   0.0   1009324       True
3    ...       21  1  3.0  0.7  0.0  0.1  0.00   0.0   1007551       True
4    ...       24  1  3.0  0.7  0.0  0.1   NaN   NaN   1004905       True

[5 rows x 30 columns]

In [8]:
stats.to_csv('master_thesis/output/battingstats_since57.csv', encoding = 'utf-8')

In [9]:
play_stats = {}
for x in salary_season:
    play_stats[x] = stats[stats['Season'] == x]
    
print(play_stats[1987].head(5))

     Season             NAME TEAM_played   G  PA  HR  R  RBI  SB  ISO  \
129    1987       Jay Baller         CHC  23   1   0  0    0   0  0.0
130    1987  Onix Concepcion         PIT   1   1   0  0    0   0  0.0
194    1987     Brett Gideon         PIT  29   2   0  0    2   0  0.0
204    1987   Darrin Jackson         CHC   7   5   0  2    0   0  0.2
485    1987       Dave Smith         HOU  50   3   0  0    0   0  0.0

       ...      Age  H    OPS  Bat  Fld  Pos   WPA  -WPA  playerid  AVG_above
129    ...       26  1  2.000  0.5  0.0  0.1  0.05  0.00   1000492       True
130    ...       29  1  2.000  0.5  NaN  0.0  0.12  0.00   1002495       True
194    ...       23  1  2.000  0.8  0.0  0.2  0.02  0.00   1004677       True
204    ...       24  4  1.800  1.9  0.0  0.0  0.05 -0.03   1006296       True
485    ...       32  1  1.167  0.5  0.0  0.3 -0.01 -0.04   1012117       True

[5 rows x 30 columns]

In [10]:
salary_UST = {}
for x in salary_season:
    salary_UST[x] = pd.read_excel('master_thesis/input/MLB_stats_{}.xlsx'.format(x), sheet_name = 'salary_UST')

In [11]:
for x in salary_season:
    salary_UST[x]['Season'] = x
    salary_UST[x] = salary_UST[x].rename(columns = {'TEAM':'TEAM_nextyr'})

for x in salary_season:
    salary_UST[x]['TEAM_nextyr'] = salary_UST[x]['TEAM_nextyr'].replace({
    'SF':'SFG', 'CWS':'CHW', 'KC':'KCR', 'SD':'SDP', 'TB':'TBR'
    })
    
for x in salary_season:
    print(salary_UST[x].head(3))

   RANK          NAME TEAM_nextyr POS   SALARY     YEARS  TOTAL VALUE  \
0     1   Gary Carter         NYM   C  2360714  1 (1988)      2360714
1     2   Ozzie Smith         STL  SS  2340000  1 (1988)      2340000
2     3  Mike Schmidt         PHI  3B  2250000  1 (1988)      2250000

   AVG ANNUAL  Season
0     2360714    1987
1     2340000    1987
2     2250000    1987
   RANK            NAME TEAM_nextyr POS   SALARY     YEARS  TOTAL VALUE  \
0     1  Orel Hershiser         LAD   P  2766666  1 (1989)      2766666
1     2  Cal Ripken Jr.         BAL  SS  2466666  1 (1989)      2466666
2     3   Dwight Gooden         NYM   P  2416666  1 (1989)      2416666

   AVG ANNUAL  Season
0     2766666    1988
1     2466666    1988
2     2416666    1988
   RANK           NAME TEAM_nextyr POS   SALARY     YEARS  TOTAL VALUE  \
0     1    Robin Yount         MIL  OF  3200000  1 (1990)      3200000
1     2  Kirby Puckett         MIN  OF  2816667  1 (1990)      2816667
2     3   Paul Molitor         MIL  2B  2600000  1 (1990)      2600000

   AVG ANNUAL  Season
0     3200000    1989
1     2816667    1989
2     2600000    1989
   RANK               NAME TEAM_nextyr POS   SALARY     YEARS  TOTAL VALUE  \
0     1  Darryl Strawberry         LAD  OF  3800000  1 (1991)      3800000
1     2     Kevin Mitchell         SFG  OF  3750000  1 (1991)      3750000
2     2         Will Clark         SFG  1B  3750000  1 (1991)      3750000

   AVG ANNUAL  Season
0     3800000    1990
1     3750000    1990
2     3750000    1990
   RANK             NAME TEAM_nextyr POS   SALARY     YEARS  TOTAL VALUE  \
0     1    Bobby Bonilla         NYM  OF  6100000  1 (1992)      6100000
1     2  Danny Tartabull         NYY  OF  5300000  1 (1992)      5300000
2     3     Ruben Sierra         TEX  OF  5000000  1 (1992)      5000000

   AVG ANNUAL  Season
0     6100000    1991
1     5300000    1991
2     5000000    1991
   RANK           NAME TEAM_nextyr POS   SALARY     YEARS  TOTAL VALUE  \
0     1  Bobby Bonilla         NYM  OF  6200000  1 (1993)      6200000
1     2  Ryne Sandberg         CHC  2B  5975000  1 (1993)      5975000
2     3  Dwight Gooden         NYM   P  5916667  1 (1993)      5916667

   AVG ANNUAL  Season
0     6200000    1992
1     5975000    1992
2     5916667    1992
   RANK           NAME TEAM_nextyr POS   SALARY     YEARS  TOTAL VALUE  \
0     1  Bobby Bonilla         NYM  3B  6300000  1 (1994)      6300000
1     2  Ryne Sandberg         CHC  2B  5975000  1 (1994)      5975000
2     3     Joe Carter         TOR  OF  5500000  1 (1994)      5500000

   AVG ANNUAL  Season
0     6300000    1993
1     5975000    1993
2     5500000    1993
   RANK           NAME TEAM_nextyr POS   SALARY     YEARS  TOTAL VALUE  \
0     1  Cecil Fielder         DET  1B  9237500  1 (1995)      9237500
1     2    Barry Bonds         SFG  OF  8000183  1 (1995)      8000183
2     3     David Cone         TOR   P  8000000  1 (1995)      8000000

   AVG ANNUAL  Season
0     9237500    1994
1     8000183    1994
2     8000000    1994
   RANK             NAME TEAM_nextyr POS   SALARY     YEARS  TOTAL VALUE  \
0     1    Cecil Fielder         DET  1B  9237500  1 (1996)      9237500
1     2      Barry Bonds         SFG  OF  8266859  1 (1996)      8266859
2     3  Ken Griffey Jr.         SEA  OF  7500000  1 (1996)      7500000

   AVG ANNUAL  Season
0     9237500    1995
1     8266859    1995
2     7500000    1995
   RANK           NAME TEAM_nextyr POS    SALARY     YEARS  TOTAL VALUE  \
0     1   Albert Belle         CHW  OF  10000000  1 (1997)     10000000
1     2  Cecil Fielder         NYY  1B   9237500  1 (1997)      9237500
2     3    Barry Bonds         SFG  OF   8666667  1 (1997)      8666667

   AVG ANNUAL  Season
0    10000000    1996
1     9237500    1996
2     8666667    1996
   RANK            NAME TEAM_nextyr POS    SALARY     YEARS  TOTAL VALUE  \
0     1  Gary Sheffield         MIA  OF  10000000  1 (1998)     10000000
1     1    Albert Belle         CHW  OF  10000000  1 (1998)     10000000
2     3     Greg Maddux         ATL   P   9600000  1 (1998)      9600000

   AVG ANNUAL  Season
0    10000000    1997
1    10000000    1997
2     9600000    1997
   RANK               NAME TEAM_nextyr POS    SALARY     YEARS  TOTAL VALUE  \
0     1       Albert Belle         BAL  OF  11949794  1 (1999)     11949794
1     2  Pedro J. Martinez         BOS   P  11100000  1 (1999)     11100000
2     3     Kevin J. Brown         LAD   P  10714286  1 (1999)     10714286

   AVG ANNUAL  Season
0    11949794    1998
1    11100000    1998
2    10714286    1998
   RANK            NAME TEAM_nextyr POS    SALARY     YEARS  TOTAL VALUE  \
0     1  Kevin J. Brown         LAD   P  15714286  1 (2000)     15714286
1     2   Randy Johnson         ARI   P  13600000  1 (2000)     13600000
2     3    Albert Belle         BAL  OF  13000000  1 (2000)     13000000

   AVG ANNUAL  Season
0    15714286    1999
1    13600000    1999
2    13000000    1999
   RANK            NAME TEAM_nextyr POS    SALARY     YEARS  TOTAL VALUE  \
0     1  Alex Rodriguez         TEX  SS  22000000  1 (2001)     22000000
1     2  Kevin J. Brown         LAD   P  15714286  1 (2001)     15714286
2     3  Carlos Delgado         TOR  1B  13650000  1 (2001)     13650000

   AVG ANNUAL  Season
0    22000000    2000
1    15714286    2000
2    13650000    2000
   RANK            NAME TEAM_nextyr POS    SALARY     YEARS  TOTAL VALUE  \
0     1  Alex Rodriguez         TEX  SS  22000000  1 (2002)     22000000
1     2  Carlos Delgado         TOR  1B  19400000  1 (2002)     19400000
2     3  Kevin J. Brown         LAD   P  15714286  1 (2002)     15714286

   AVG ANNUAL  Season
0    22000000    2001
1    19400000    2001
2    15714286    2001
   RANK            NAME TEAM_nextyr POS    SALARY     YEARS  TOTAL VALUE  \
0     1  Alex Rodriguez         TEX  SS  22000000  1 (2003)     22000000
1     2   Manny Ramirez         BOS  OF  20000000  1 (2003)     20000000
2     3  Carlos Delgado         TOR  1B  18700000  1 (2003)     18700000

   AVG ANNUAL  Season
0    22000000    2002
1    20000000    2002
2    18700000    2002
   RANK            NAME TEAM_nextyr POS    SALARY     YEARS  TOTAL VALUE  \
0     1   Manny Ramirez         BOS  OF  22500000  1 (2004)     22500000
1     2  Carlos Delgado         TOR  1B  19700000  1 (2004)     19700000
2     3     Derek Jeter         NYY  SS  18600000  1 (2004)     18600000

   AVG ANNUAL  Season
0    22500000    2003
1    19700000    2003
2    18600000    2003
   RANK           NAME TEAM_nextyr POS    SALARY     YEARS  TOTAL VALUE  \
0     1    Barry Bonds         SFG  OF  22000000  1 (2005)     22000000
1     1  Manny Ramirez         BOS  OF  22000000  1 (2005)     22000000
2     3    Derek Jeter         NYY  SS  19600000  1 (2005)     19600000

   AVG ANNUAL  Season
0    22000000    2004
1    22000000    2004
2    19600000    2004
   RANK          NAME TEAM_nextyr POS    SALARY     YEARS  TOTAL VALUE  \
0     1   Derek Jeter         NYY  SS  20600000  1 (2006)     20600000
1     2  Jason Giambi         NYY  1B  20428571  1 (2006)     20428571
2     3  Jeff Bagwell         HOU  1B  19369019  1 (2006)     19369019

   AVG ANNUAL  Season
0    20600000    2005
1    20428571    2005
2    19369019    2005
   RANK           NAME TEAM_nextyr POS    SALARY     YEARS  TOTAL VALUE  \
0     1   Jason Giambi         NYY  DH  23428571  1 (2007)     23428571
1     2    Derek Jeter         NYY  SS  21600000  1 (2007)     21600000
2     3  Manny Ramirez         BOS  OF  17016381  1 (2007)     17016381

   AVG ANNUAL  Season
0    23428571    2006
1    21600000    2006
2    17016381    2006
   RANK           NAME TEAM_nextyr POS    SALARY     YEARS  TOTAL VALUE  \
0     1   Jason Giambi         NYY  DH  23428571  1 (2008)     23428571
1     2    Derek Jeter         NYY  SS  21600000  1 (2008)     21600000
2     3  Manny Ramirez         BOS  OF  18929923  1 (2008)     18929923

   AVG ANNUAL  Season
0    23428571    2007
1    21600000    2007
2    18929923    2007
   RANK           NAME TEAM_nextyr POS    SALARY        YEARS  TOTAL VALUE  \
0     1  Manny Ramirez         LAD  OF  23854494     1 (2009)     23854494
1     2    Derek Jeter         NYY  SS  21600000     1 (2009)     21600000
2     3  Mark Teixeira         NYY  1B  20625000  8 (2009-16)    180000000

   AVG ANNUAL  Season
0    23854494    2008
1    21600000    2008
2    22500000    2008

   RANK           NAME TEAM_nextyr POS    SALARY        YEARS  TOTAL VALUE  \
0     1    CC Sabathia         NYY   P  24285714     1 (2010)     24285714
1     2    Derek Jeter         NYY  SS  22600000     1 (2010)     22600000
2     3  Mark Teixeira         NYY  1B  20625000  8 (2009-16)    180000000

   AVG ANNUAL  Season
0    24285714    2009
1    22600000    2009
2    22500000    2009
   RANK           NAME TEAM_nextyr POS    SALARY        YEARS  TOTAL VALUE  \
0     1   Vernon Wells         LAA  OF  26187500     1 (2011)     26187500
1     2    CC Sabathia         NYY   P  24285714     1 (2011)     24285714
2     3  Mark Teixeira         NYY  1B  23125000  8 (2009-16)    180000000

   AVG ANNUAL  Season
0    26187500    2010
1    24285714    2010
2    22500000    2010
   RANK           NAME TEAM_nextyr POS    SALARY        YEARS  TOTAL VALUE  \
0     1   Vernon Wells         LAA  OF  24187500     1 (2012)     24187500
1     2  Johan Santana         NYM   P  23145011  6 (2008-13)    137500000
2     3  Mark Teixeira         NYY  1B  23125000  8 (2009-16)    180000000

   AVG ANNUAL  Season
0    24187500    2011
1    22916667    2011
2    22500000    2011
   RANK           NAME TEAM_nextyr POS    SALARY        YEARS  TOTAL VALUE  \
0     1      Cliff Lee         PHI   P  25000000  5 (2011-15)    120000000
1     2  Johan Santana         NYM   P  24644708  6 (2008-13)    137500000
2     3  Mark Teixeira         NYY  1B  23125000  8 (2009-16)    180000000

   AVG ANNUAL  Season
0    24000000    2012
1    22916667    2012
2    22500000    2012
   RANK           NAME TEAM_nextyr POS    SALARY         YEARS  TOTAL VALUE  \
0     1   Zack Greinke         LAD  SP  28000000   6 (2013-18)    147000000
1     2      Cliff Lee         PHI  SP  25000000   5 (2011-15)    120000000
2     3  Robinson Cano         SEA  2B  24000000  10 (2014-23)    240000000

   AVG ANNUAL  Season
0    24500000    2013
1    24000000    2013
2    24000000    2013
   RANK              NAME TEAM_nextyr POS    SALARY        YEARS  TOTAL VALUE  \
0     1  Justin Verlander         DET  SP  28000000  7 (2013-19)    180000000
1     2      Zack Greinke         LAD  SP  27000000  6 (2013-18)    147000000
2     3     Josh Hamilton         LAA  RF  25000000  5 (2013-17)    125000000

   AVG ANNUAL  Season
0    25714286    2014
1    24500000    2014
2    25000000    2014
   RANK             NAME TEAM_nextyr POS    SALARY        YEARS  TOTAL VALUE  \
0     1  Clayton Kershaw         LAD  SP  33000000  7 (2014-20)    215000000
1     2     Zack Greinke         ARI  SP  31799030  6 (2016-21)    206500000
2     3      David Price         BOS  SP  30000000  7 (2016-22)    217000000

   AVG ANNUAL  Season
0    30714286    2015
1    34416667    2015
2    31000000    2015
   RANK             NAME TEAM_nextyr POS    SALARY        YEARS  TOTAL VALUE  \
0     1  Clayton Kershaw         LAD  SP  33000000  7 (2014-20)    215000000
1     2     Zack Greinke         ARI  SP  31876966  6 (2016-21)    206500000
2     3      David Price         BOS  SP  30000000  7 (2016-22)    217000000

   AVG ANNUAL  Season
0    30714286    2016
1    34416667    2016
2    31000000    2016
   RANK             NAME TEAM_nextyr POS    SALARY        YEARS  TOTAL VALUE  \
0     1       Mike Trout         LAA  OF  34083333  6 (2015-20)    144500000
1     2  Clayton Kershaw         LAD  SP  34000000  7 (2014-20)    215000000
2     3     Zack Greinke         ARI  SP  31954483  6 (2016-21)    206500000

   AVG ANNUAL  Season
0    24083333    2017
1    30714286    2017
2    34416667    2017

In [12]:
stats_salary = {}

for x in salary_season:
    stats_salary[x] = pd.merge(play_stats[x], salary_UST[x], on = ['NAME','Season'], how = 'left')
        
print(stats_salary[2002].head(5))

   Season             NAME TEAM_played   G  PA  HR  R  RBI  SB    ISO  \
0    2002       Brad Lidge         HOU   6   2   0  0    2   0  0.500
1    2002    Grant Roberts         NYM  34   1   0  1    0   0  0.000
2    2002  Felix Rodriguez         SFG  71   1   0  1    0   0  0.000
3    2002  Chris Carpenter         TOR  13   2   0  1    0   0  0.000
4    2002    Trey Lunsford         SFG   3   3   0  0    1   0  0.333

      ...      -WPA  playerid  AVG_above   RANK  TEAM_nextyr  POS     SALARY  \
0     ...      0.00       563       True  727.0          HOU    P   300000.0
1     ...      0.00       894       True  660.0          NYM    P   310000.0
2     ...      0.00      1127       True  231.0          SFG    P  3166667.0
3     ...      0.00      1292       True  727.0          STL    P   300000.0
4     ...     -0.04      1614       True    NaN          NaN  NaN        NaN

      YEARS  TOTAL VALUE  AVG ANNUAL
0  1 (2003)     300000.0    300000.0
1  1 (2003)     310000.0    310000.0
2  1 (2003)    3166667.0   3166667.0
3  1 (2003)     300000.0    300000.0
4       NaN          NaN         NaN

[5 rows x 37 columns]

In [13]:
stats_salary = pd.concat(stats_salary[x] for x in salary_season)

In [14]:
stats_salary.loc[stats_salary['AVG'] >= 0.3,'AVG_above'] = True
stats_salary.loc[stats_salary['AVG'] < 0.3,'AVG_above'] = False
stats_salary['Log AVG ANNUAL'] = np.log(stats_salary['AVG ANNUAL'])
stats_salary.loc[stats_salary['Log AVG ANNUAL'] == -np.inf, 'Log AVG ANNUAL'] = 0
print(np.isinf(stats_salary['Log AVG ANNUAL']).any())
stats_salary.loc[stats_salary['Season'] <= 1994, 'Era'] = 'bfst'
stats_salary.loc[(stats_salary['Season'] >= 1996) & (stats_salary['Season'] <= 2001), 'Era'] = 'stmb'
stats_salary.loc[(stats_salary['Season'] >= 2002), 'Era'] = 'afmb'
stats_salary.loc[stats_salary['Season'] == 1995, 'Era'] == 'Striked'
print(stats_salary.head(5))
print(stats_salary.tail(5))

C:\Users\T-Reio\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: RuntimeWarning: divide by zero encountered in log
  This is separate from the ipykernel package so we can avoid doing imports until

False
   Season             NAME TEAM_played   G  PA  HR  R  RBI  SB  ISO  ...   \
0    1987       Jay Baller         CHC  23   1   0  0    0   0  0.0  ...
1    1987  Onix Concepcion         PIT   1   1   0  0    0   0  0.0  ...
2    1987     Brett Gideon         PIT  29   2   0  0    2   0  0.0  ...
3    1987   Darrin Jackson         CHC   7   5   0  2    0   0  0.2  ...
4    1987       Dave Smith         HOU  50   3   0  0    0   0  0.0  ...

   AVG_above   RANK  TEAM_nextyr  POS     SALARY     YEARS  TOTAL VALUE  \
0       True    NaN          NaN  NaN        NaN       NaN          NaN
1       True    NaN          NaN  NaN        NaN       NaN          NaN
2       True    NaN          NaN  NaN        NaN       NaN          NaN
3       True  603.0          CHC   OF    63500.0  1 (1988)      63500.0
4       True   52.0          HOU    P  1100000.0  1 (1988)    1100000.0

   AVG ANNUAL  Log AVG ANNUAL   Era
0         NaN             NaN  bfst
1         NaN             NaN  bfst
2         NaN             NaN  bfst
3     63500.0       11.058795  bfst
4   1100000.0       13.910821  bfst

[5 rows x 39 columns]
      Season               NAME TEAM_played   G  PA  HR  R  RBI  SB  ISO  \
1355    2017  Drew Steckenrider         MIA  37   0   0  0    0   0  0.0
1356    2017        Miguel Diaz         SDP  31   4   0  0    0   0  0.0
1357    2017       Chris Rowley         TOR   6   0   0  0    0   0  0.0
1358    2017   Hector Velazquez         BOS   8   1   0  0    0   0  0.0
1359    2017     Walker Buehler         LAD   8   0   0  0    0   0  0.0

      ...   AVG_above   RANK  TEAM_nextyr  POS     SALARY     YEARS  \
1355  ...       False  466.0          MIA   RP  1090000.0  1 (2018)
1356  ...       False    NaN          NaN  NaN        NaN       NaN
1357  ...       False    NaN          NaN  NaN        NaN       NaN
1358  ...       False  805.0          BOS   SP   547000.0  1 (2018)
1359  ...       False    NaN          NaN  NaN        NaN       NaN

      TOTAL VALUE  AVG ANNUAL  Log AVG ANNUAL   Era
1355    1090000.0   1090000.0       13.901688  afmb
1356          NaN         NaN             NaN  afmb
1357          NaN         NaN             NaN  afmb
1358     547000.0    547000.0       13.212204  afmb
1359          NaN         NaN             NaN  afmb

[5 rows x 39 columns]

In [15]:
stats_salary.to_csv('master_thesis/output/stats_salary_87to17.csv', encoding = 'utf-8')

In [5]:
stats1 = pd.read_csv('master_thesis/input/f_battingstats_57_86.csv')
stats2 = pd.read_csv('master_thesis/input/f_battingstats_87_17.csv')
stats = pd.concat([stats1, stats2])